<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<code>
  <%= location %><br><br>
  <% @forecast.each do |day| %>
    <%= day_formatter(day["date"])%><br>
     <%= description(day) %><br>
     High = <%= temp_hi(day) %> c<br>
     Low = <%= temp_lo(day) %> c<br><br>
  <% end %>
</code>