<%= location %><br><br>
<div class="weather-container">
  <% @forecast.each do |day| %>
  <div class="weather-card">
    <strong><%= day_formatter(day["date"])%></strong><br>
    <%= description(day) %><br>
    <%= temp_hi(day) %> c<br>
    <%= temp_lo(day) %> c<br><br>
  </div>
  <% end %>
</div>